
# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# Distribution / Packaging
dist/
build/
*.egg-info/

# VS Code
.vscode/

# Logs
*.log
